/* ==========================================================================
   Dark skin
   ========================================================================== */

/* Colors */
$background-color: #23303a !default;
$text-color: #ffffff !default;
$primary-color: #5b99bd !default;
$border-color: mix(rgb(155, 182, 207), $background-color, 20%) !default;
$code-background-color: mix(rgb(137, 157, 177), $background-color, 15%) !default;
$code-background-color-dark: mix(rgb(137, 157, 177), $background-color, 20%) !default;
$form-background-color: mix(rgb(137, 157, 177), $background-color, 15%) !default;
$footer-background-color: mix($primary-color, rgb(8, 11, 19), 10%) !default;
$link-color: #93ddff !default;
$link-color-hover: mix(rgb(155, 182, 207), $link-color, 25%) !default;
$link-color-visited: mix(#000, $link-color, 25%) !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: mix(#000, $text-color, 20%) !default;
$navicon-link-color-hover: mix(#000, $background-color, 30%) !default;

.author__urls.social-icons i,
.author__urls.social-icons .svg-inline--fa,
.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa  {
  color: inherit;
}

.ais-search-box .ais-search-box--input {
  background-color: $form-background-color;
}
