/* ==========================================================================
   Neon skin
   ========================================================================== */

/* Colors */
$background-color: #23303a !default;
$text-color: #ffffff !default;
$primary-color: #5b99bd !default;
$border-color: mix(rgb(155, 182, 207), $background-color, 20%) !default;
$code-background-color: mix(#000, $background-color, 15%) !default;
$code-background-color-dark: mix(#000, $background-color, 20%) !default;
$form-background-color: mix(#000, $background-color, 15%) !default;
$footer-background-color: mix($primary-color, rgb(8, 11, 19), 10%) !default;
$link-color: #93ddff !default;
$link-color-hover: mix(rgb(155, 182, 207), $link-color, 25%) !default;
$link-color-visited: mix(#000, $link-color, 25%) !default;
$masthead-link-color: $primary-color !default;
$masthead-link-color-hover: mix(#000, $text-color, 20%) !default;
$navicon-link-color-hover: mix(#000, $background-color, 30%) !default;



/* notices */
$notice-background-mix: 90% !default;
$code-notice-background-mix: 95% !default;

/* neon syntax highlighting (base16) */
$base00: #ffffff !default;
$base01: #e0e0e0 !default;
$base02: #d0d0d0 !default;
$base03: #b0b0b0 !default;
$base04: #000000 !default;
$base05: #101010 !default;
$base06: #151515 !default;
$base07: #202020 !default;
$base08: #ff0086 !default;
$base09: #fd8900 !default;
$base0a: #aba800 !default;
$base0b: #00c918 !default;
$base0c: #1faaaa !default;
$base0d: #3777e6 !default;
$base0e: #95ddff !default;
$base0f: #cc6633 !default;
$base0f: #15222b !default;

.author__urls.social-icons i,
.author__urls.social-icons .svg-inline--fa,
.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa  {
  color: inherit;
}

/* next/previous buttons */
.pagination--pager {
  color: $text-color;
  background-color: $primary-color;
  border-color: transparent;

  &:visited {
    color: rgb(137, 157, 177), $background-color;
  }
}

.ais-search-box .ais-search-box--input {
  background-color: $form-background-color;
}

#page-title{
  color: $primary-color;
  font-weight: bold;
}
